* { box-sizing:border-box; }

/* PARENT CONTAINER */
section {
    height : 400px;
    border: 3px solid red;
    display:flex;
    /* display:flex on the parent container */
    flex-direction: row;
    /* flex-direction: row DEFAULT */
    justify-content:space-around;
    align-items: flex-start;
    /*   align items in the container along the cross axis (y axis).
      DEFAULT STRECH */
    flex-wrap:wrap;
    align-content: space-between;
}

.div1 {
    border: 1px solid blue;
    background-color: #e6ffff;
    width: 50%;
}

.div2 {
    border: 1px solid red;
    background-color: #ffd6cc;
    width: 30%;
    /* See what happens if width: 80%;   */
    align-self: flex-end
}

.para{
    margin: 4px;
    padding:4px ;
    border: 5px solid #181818;
    background-color: white;
}

.border{
    border: 15px solid #181818;
    margin: 15px;
    padding: 15px;
}

.padding{
    border: 15px solid blue;
    margin: 15px;
    padding: 15px;
}


.margin{
    border: 15px solid red;
    margin: 15px;
    padding: 15px;
}

.content{
    text-align: center;
    text-transform: capitalize;

}

.first{
    display: inline-block;
    background-color: blue;
    margin: 20px;

}

.second{
    display: inline-block;
    background-color: yellow;
    margin: 20px;
}


.third{
    display: inline-block;
    background-color: #cf8a05;
    margin: 20px;
}

.bloc{
    text-align: center;
}

.test{
background-color: grey;
    width: auto;
    height: 60px;
    position: relative;
}

.test1{
    position: absolute;
    background-color: blue;
    width: 60px;
    height: 60px;
}

.test2{
    position: relative;
    left: 3px;
    top: 3px;
    background-color: orange;
    width: 60px;
    height: 60px;

}

.test2:hover{
    background-color: darkred;
}